[program:mythical-http]
command=mythicald -c /etc/mythical/mythical.conf -- -c /etc/mythical/http/gunicorn.conf -p /var/run/mythical/http.pid
autostart=true
autorestart=true
user=mythical
group=mythical
stdout_logfile=syslog
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=1
stdout_capture_maxbytes=0
stdout_events_enabled=false
stderr_logfile=syslog
stderr_logfile_maxbytes=20MB
stderr_logfile_backups=1
stderr_capture_maxbytes=0
stderr_events_enabled=false
